# Introduction to Pandas

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

#### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
import numpy as np
import pandas as pd

#### 2. Create a Pandas Series containing the elements of the list below.

In [2]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [3]:
a = pd.Series(lst)
print(a)
a

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

#### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [4]:
lst[2]

74.4

#### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [5]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [6]:
b_df = pd.DataFrame(b)
b_df

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

#### 5. Rename the data frame columns based on the names in the list below.

In [7]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [12]:
z = pd.DataFrame(b, columns=colnames)
z

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

#### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [9]:
pd.DataFrame(b, columns=colnames)
transpose_b = pd.DataFrame(b).transpose()
print(transpose_b)
subset = [transpose_b[0], transpose_b[2], transpose_b[4]]
print(subset)

      0     1     2     3     4     5     6     7     8     9
0  53.1  61.3  20.6  57.4  83.6  49.0  23.3  27.6  96.6  73.7
1  95.0  40.8  73.2   0.1  20.5  69.0  40.7  26.4  96.4  39.0
2  67.5  30.8  44.2  96.1  85.4   0.1  95.0  53.8  53.4  43.2
3  35.0  37.8  14.6   4.2  22.8  31.8  83.8  88.8  72.4  81.6
4  78.4  87.6  91.8  69.5  35.9  89.1  26.9  68.5  50.1  34.7
[0    53.1
1    95.0
2    67.5
3    35.0
4    78.4
Name: 0, dtype: float64, 0    20.6
1    73.2
2    44.2
3    14.6
4    91.8
Name: 2, dtype: float64, 0    83.6
1    20.5
2    85.4
3    22.8
4    35.9
Name: 4, dtype: float64]

#### 7. From the original data frame, calculate the average Score_3 value.

In [52]:
z.to_dict()
print(z)
print(z.to_dict())
z['Score_3'].mean()

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7
{'Score_1': {0: 53.1, 1: 61.3, 2: 20.6, 3: 57.4, 4: 83.6, 5: 49.0, 6: 23.3, 7: 27.6, 8: 96.6, 9: 73.7}, 'Score_2': {0: 95.0, 1: 40.8, 2: 73.2, 3: 0.1, 4: 20.5, 5: 69.0, 6: 40.7, 7: 26.4, 8: 96.4, 9: 39.0}, 'Score_3': {0: 67.5, 1: 30.8, 2: 44.2, 3: 96.1, 4: 85.4, 5: 0.1, 6: 95.0, 7: 53.8, 8: 53.4, 9: 43.2}, 'Score_4': {0: 35.0, 1: 37.8, 2: 14.6, 3: 4.2, 4: 22.8, 5: 31.8, 6: 83.8, 7: 88.8, 8: 72.4, 9: 81.6}, 'Score_5': {0: 78.4, 1: 87.6, 2: 91.8, 3: 69.5, 4: 35.9, 5: 89.1, 6: 26.9, 7: 68.5, 8: 50.1, 9: 34.7}}

56.95000000000001

#### 8. From the original data frame, calculate the maximum Score_4 value.

In [20]:
z.to_dict()
print(z)
print(z.to_dict())
z['Score_4'].max()

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7
{'Score_1': {0: 53.1, 1: 61.3, 2: 20.6, 3: 57.4, 4: 83.6, 5: 49.0, 6: 23.3, 7: 27.6, 8: 96.6, 9: 73.7}, 'Score_2': {0: 95.0, 1: 40.8, 2: 73.2, 3: 0.1, 4: 20.5, 5: 69.0, 6: 40.7, 7: 26.4, 8: 96.4, 9: 39.0}, 'Score_3': {0: 67.5, 1: 30.8, 2: 44.2, 3: 96.1, 4: 85.4, 5: 0.1, 6: 95.0, 7: 53.8, 8: 53.4, 9: 43.2}, 'Score_4': {0: 35.0, 1: 37.8, 2: 14.6, 3: 4.2, 4: 22.8, 5: 31.8, 6: 83.8, 7: 88.8, 8: 72.4, 9: 81.6}, 'Score_5': {0: 78.4, 1: 87.6, 2: 91.8, 3: 69.5, 4: 35.9, 5: 89.1, 6: 26.9, 7: 68.5, 8: 50.1, 9: 34.7}}

88.8

#### 9. From the original data frame, calculate the median Score 2 value.

In [22]:
print(z)
print(z.to_dict())
z['Score_2'].median()

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7
{'Score_1': {0: 53.1, 1: 61.3, 2: 20.6, 3: 57.4, 4: 83.6, 5: 49.0, 6: 23.3, 7: 27.6, 8: 96.6, 9: 73.7}, 'Score_2': {0: 95.0, 1: 40.8, 2: 73.2, 3: 0.1, 4: 20.5, 5: 69.0, 6: 40.7, 7: 26.4, 8: 96.4, 9: 39.0}, 'Score_3': {0: 67.5, 1: 30.8, 2: 44.2, 3: 96.1, 4: 85.4, 5: 0.1, 6: 95.0, 7: 53.8, 8: 53.4, 9: 43.2}, 'Score_4': {0: 35.0, 1: 37.8, 2: 14.6, 3: 4.2, 4: 22.8, 5: 31.8, 6: 83.8, 7: 88.8, 8: 72.4, 9: 81.6}, 'Score_5': {0: 78.4, 1: 87.6, 2: 91.8, 3: 69.5, 4: 35.9, 5: 89.1, 6: 26.9, 7: 68.5, 8: 50.1, 9: 34.7}}

40.75

#### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [24]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [29]:
x = pd.DataFrame.from_dict(orders)
x

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

#### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [40]:
transpose_x = pd.DataFrame(x).transpose()
transpose_x
print(x['Quantity'].sum())
print(x['Revenue'].sum())

2978
637.0

#### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [56]:
k = x.sort_values(by=['UnitPrice'])
k
minValue = x['UnitPrice'].min()
maxValue = x['UnitPrice'].max()
u = maxValue - minValue
print(minValue)
print(maxValue)
print(u)

0.18
11.95
11.77