# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import scale

import researchpy as rp
from scipy import stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [6]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [59]:
pokemon.groupby('Legendary').mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Legendary,,,,,,,,,
False,353.315646,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354
True,470.215385,637.384615,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615,3.769231

In [60]:
pokemon.groupby('Legendary').std()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Legendary,,,,,,,,,
False,208.590419,106.760417,24.808849,30.490153,30.408194,29.091705,25.669310,27.843038,1.673471
True,173.651095,60.937389,21.722164,30.348037,28.255131,31.104608,28.827004,22.952323,1.455262

In [75]:
pokemon.groupby('Legendary')['#'].describe()

           count        mean         std    min    25%    50%    75%    max
Legendary
False      735.0  353.315646  208.590419    1.0  175.5  346.0  533.5  715.0
True        65.0  470.215385  173.651095  144.0  381.0  483.0  642.0  721.0

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [123]:
# Your code here:
sample_01 = pokemon.query('Legendary == False').reset_index(drop=True)

sample_02 = pokemon.query('Legendary == True').reset_index(drop=True)
sample_01.shape, sample_02.shape

((735, 13), (65, 13))

In [122]:
sample_01 = sample_01.sample(65,random_state=42).reset_index(drop=True)
sample_01.shape, sample_02.shape

((65, 13), (65, 13))

In [126]:
stats.ttest_ind(sample_02.Total, sample_01.Total, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [88]:
# Your conclusions here:
# Tá tranquilo, tá favorável
from scipy import stats
from scipy.stats import ttest_ind
ttest_ind(pokemon[pokemon.Legendary == True].Total, pokemon[pokemon.Legendary == False].Total, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [82]:
pokemon.groupby('Type 1')['#'].describe()

          count        mean         std    min     25%    50%     75%    max
Type 1
Bug        69.0  334.492754  210.445160   10.0  168.00  291.0  543.00  666.0
Dark       31.0  461.354839  176.022072  197.0  282.00  509.0  627.00  717.0
Dragon     32.0  474.375000  170.190169  147.0  373.00  443.5  643.25  718.0
Electric   44.0  363.500000  202.731063   25.0  179.75  403.5  489.75  702.0
Fairy      17.0  449.529412  271.983942   35.0  176.00  669.0  683.00  716.0
Fighting   27.0  363.851852  218.565200   56.0  171.50  308.0  536.00  701.0
Fire       52.0  327.403846  226.262840    4.0  143.50  289.5  513.25  721.0
Flying      4.0  677.750000   42.437209  641.0  641.00  677.5  714.25  715.0
Ghost      32.0  486.500000  209.189218   92.0  354.75  487.0  709.25  711.0
Grass      70.0  344.871429  200.264385    1.0  187.25  372.0  496.75  673.0
Ground     32.0  356.281250  204.899855   27.0  183.25  363.5  535.25  645.0
Ice        24.0  423.541667  175.465834  124.0  330.25  371.5  583.25  713.0
Normal     98.0  319.173469  193.854820   16.0  161.25  296.5  483.00  676.0
Poison     28.0  251.785714  228.801767   23.0   33.75  139.5  451.25  691.0
Psychic    57.0  380.807018  194.600455   63.0  201.00  386.0  528.00  720.0
Rock       44.0  392.727273  213.746140   74.0  230.75  362.5  566.25  719.0
Steel      27.0  442.851852  164.847180  208.0  305.50  379.0  600.50  707.0
Water     112.0  303.089286  188.440807    7.0  130.00  275.0  456.25  693.0

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [83]:
# Your code here:
pokemon.groupby('Type 1')['#'].mean()

Type 1
Bug         334.492754
Dark        461.354839
Dragon      474.375000
Electric    363.500000
Fairy       449.529412
Fighting    363.851852
Fire        327.403846
Flying      677.750000
Ghost       486.500000
Grass       344.871429
Ground      356.281250
Ice         423.541667
Normal      319.173469
Poison      251.785714
Psychic     380.807018
Rock        392.727273
Steel       442.851852
Water       303.089286
Name: #, dtype: float64

In [85]:
pokemon.groupby('Type 1')['#'].std()

Type 1
Bug         210.445160
Dark        176.022072
Dragon      170.190169
Electric    202.731063
Fairy       271.983942
Fighting    218.565200
Fire        226.262840
Flying       42.437209
Ghost       209.189218
Grass       200.264385
Ground      204.899855
Ice         175.465834
Normal      193.854820
Poison      228.801767
Psychic     194.600455
Rock        213.746140
Steel       164.847180
Water       188.440807
Name: #, dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [127]:
# Your code here:
ttest_ind(pokemon[pokemon['Type 1'] == 'Water'].Total, pokemon[pokemon['Type 1'] != 'Water'].Total, equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [ ]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [137]:
# Your code here:
from scipy.stats import ttest_rel
ttest_rel(pokemon['Defense'], pokemon['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [ ]:
# Your code here:

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [ ]:
# Your code here:

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: